<div class="header-container">
  <div class="col-1">
    <img src={{model.image}}>
  </div>
  <div class="col-2">
    <div class="playlist">TRACKS</div>
    <div class="playlist-title">{{model.artist}}</div>
    <div class="playlist-desc">{{model.name}}</div>
    <div class="action-buttons">
      <button class="play-btn btn btn-small">PLAY</button>
      <button class="follow-btn btn btn-small">FOLLOW</button>
      <button class="more-btn btn"></button>
    </div>
  </div>
</div>
<div class="header-bar">
  <div class="container">
    <div class="pull-left">
      <span>Created by: <a>Tomster</a></span>
      <span>• </span>
      <span>{{model.tracks.length}} songs</span>
    </div>
  </div>
</div>
<div class="playlist-list">
  <div class="row playlist-field-head">
    <div class="col-xs-4 col-md-4 col-md-offset-1">SONG</div>
    <div class="col-xs-3 col-md-3">ARTIST</div>
    <div class="col-xs-3 col-md-3">ALBUM</div>
    <div class="col-xs-1 col-md-1 col-time"></div>
  </div>
  {{#each model.tracks as |track|}}
    <div class="row playlist-field">
      <div class="col-xs-4 col-md-4 col-md-offset-1">{{track.title}}</div>
      <div class="col-xs-3 col-md-3">{{model.artist}}</div>
      <div class="col-xs-3 col-md-3">{{model.name}}</div>
      <div class="col-xs-1 col-md-1">{{track.duration}}</div>
    </div>
  {{/each}}
</div>
